* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  background: #f1f1f1;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.logo {
  background: url("./assets/img/logo.svg") no-repeat;
  width: 355px;
  height: 126px;
  display: block;
  margin: 40px 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* FILTER */

.filter {
  background: #fff;
  padding: 25px 0;
}

.filter .wrapper {
  display: flex;
}

.filter__label {
  display: flex;
  align-items: center;
}

.filter__setting {
  fill: #adbdbf;
  width: 18px;
  height: 18px;
}

.filter__text {
  font-weight: 600;
  font-size: 12px;
  color: #636c6d;
  margin-left: 12px;
}

.filter__items {
  display: flex;
  margin-left: 24px;
}

.filter__option {
  background: #f3f3f3;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 13px 32px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  border-radius: 15px;
  color: #5e6d6f;
  margin-right: 12px;
  position: relative;
  user-select: none;
}

.filter__option:hover,
.filter__option-active {
  background: #00bbd3;
  color: #ffffff;
  box-shadow: 0 2px 1px rgba(0, 187, 211, 0.45);
}

.filter__option:active {
  box-shadow: 0 1px 0 rgba(0, 187, 211, 0.45);
  transform: translateY(2px);
}

.filter__option:last-child {
  margin-right: 0;
}

/* PEOPLE */

.people {
  margin-top: 40px;
  padding-bottom: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.col.fullwide {
  flex: 0 0 100%;
  max-width: 100%;
}

.card {
  padding: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
}

.card__image {
  flex: 0 0 128px;
  height: 128px;
  margin-right: 20px;
}

.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card__content {
  flex: 1;
}

.card__title {
  display: flex;
  margin-bottom: 20px;
}

.card__name {
  flex: 1;
  font-weight: 800;
  font-size: 24px;
  line-height: 26px;
  color: #374041;
}

.card__gender {
  flex: 0 0 18px;
  height: 18px;
  padding-left: 15px;
  /* background-image: url("assets/img/icon-male.svg"); */
  background-repeat: no-repeat;
  margin-top: 2px;
}

.card__gender-female {
  /* background-image: url("assets/img/icon-female.svg"); */
}

.card__item {
  display: flex;
  font-size: 13px;
  margin-bottom: 10px;
}

.card__label {
  flex: 0 0 70px;
  padding-right: 15px;
  color: #858585;
}

.card__text {
  color: #222222;
  font-weight: 600;
}
